@{
    ViewBag.Title = "About us";
}




<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/home.css" />

    <style>

        body {
            margin: 0;
            padding: 0;
            background: #f1f1f1;
        }

        .fcap {
            margin: 250px;
            margin-left: 200px;
            margin-right: 200px;
            margin-top: 40px;
            /*border: 2px solid black;*/
            height: auto;
            border-radius: 3px;
            width: auto;
            margin: auto;
            margin-top: 100px;
        }



        h3 {
            font-size: 20px;
            padding: 20px;
            color: #000;
            font-weight: bold;
        }

        header {
            height: 180px;
            border-bottom: 1px solid black;
            background: #1f1919;
            padding-top: 60px;
            margin: 0;
        }

        h1, .h {
            text-align: center;
            font-weight: bold;
            margin-top: 0px;
            font-size: 50px;
            color: #000;
        }

        .btn-success {
            background: green;
            text-decoration: none;
            color: white;
            width: auto;
            height: auto;
            align-content: center;
        }

        h1, h3, h5 {
            font-family: 'Arial';
            font-style: italic;
        }

        .border {
            width: 160px;
            height: 2px;
            background: #A3CB38;
            margin: 30px auto;
        }

        .row {
            position: relative;
            width: 100%;
            box-sizing: border-box;
        }

            .row h1 {
                text-align: center;
                margin-top: -3%;
                padding: 0;
            }
    </style>
</head>
<body>

    <br />

    <div class="fcap">
        <center>
            <div class="row">
               <h1>About us</h1>
                <div class="border"></div>
            </div>
            <h3>

                A wide range of Aircon Services. In addition to servicing all types of air conditioning systems,
                we also offer installation for different models. <br /> With our regular servicing and aircon maintenance, we will also extend the lifespan of your aircon.
                Whether you need aircon servicing for residential, commercial, retail establishments or educational institutions, we will offer you the most professional and affordable services to the best of your satisfaction. <br />
                Our team of experts have the know-how and experience to tackle all aircon issues with minimum hassle. RFB is the perfect place for you when it comes to on-time deliveries and professional airconditioning services.
            </h3>
            <h1> Mission</h1>
            <div class="border"></div>
            <h3> "Cost-effective and service satisfaction of our customers."</h3>
            <h1> Vision</h1>
            <div class="border"></div>
            <h3> "The preferred air-conditioning services provider of our customers."</h3>
            <h1>History</h1>
            <div class="border"></div>
            <h3>
                RFB Airconditioning Services “the company” is a sole proprietor and
                established by Rafael B. Burias on April 13, 2016 as air-conditioning
                services provider. In 16 years, the owner was employed as aircon and
                electrical technician in a reputable and stable company.
                In 2016, the owner saw the large market of outsourcing so he established
                business and decided to seek more aircon technician/helper and cater large
                establishments/businesses.
                The company encourages the safety of workers and safe of place practice.
                The Company also focuses on the customer-satisfaction and continuous
                improvement of services.
            </h3>
        </center>
    </div>
</body>
</html>




