@{
    ViewBag.Title = "General Cleaning";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css'>
    <link rel="stylesheet" href="~/Content/babel.css">

</head>
<body>
    <!-- partial:index.partial.html -->
    <div class="loading">Picture is loading...</div>
    <div class="container">
        <div class="synch-carousels">

            <div class="left child">
                <div class="gallery">
                    <div class="item">
                        <img src="~/NewFolder1/services1.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="~/NewFolder1/services2.jpg" alt="">
                    </div> <div class="item">
                        <img src="~/NewFolder1/services3.jpg" alt="">
                    </div> <div class="item">
                        <img src="~/NewFolder1/services4.jpg" alt="">
                    </div> <div class="item">
                        <img src="~/NewFolder1/services5.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="right child">
                <div class="gallery2">
                    <div class="item">
                        <img src="~/NewFolder1/services1.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="~/NewFolder1/services2.jpg" alt="">
                    </div> <div class="item">
                        <img src="~/NewFolder1/services3.jpg" alt="">
                    </div> <div class="item">
                        <img src="~/NewFolder1/services4.jpg" alt="">
                    </div> <div class="item">
                        <img src="~/NewFolder1/services5.jpg" alt="">
                    </div>
                </div>

                <div class="nav-arrows">
                    <button class="arrow-left">
                        <!--SVGs from iconmonstr.com-->
                        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M2.117 12l7.527 6.235-.644.765-9-7.521 9-7.479.645.764-7.529 6.236h21.884v1h-21.883z" /></svg>
                    </button>
                    <button class="arrow-right">
                        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" /></svg>
                    </button>
                </div>


                <div class="photos-counter">
                    <span></span><span></span>
                </div>

          

            </div>

        </div>
    </div>
   
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js'></script>
    <script src="~/Scripts/slicks(1).js"></script>


</body>
</html>
