@{
    ViewBag.Title = "General Cleaning";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/home.css" />

    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            font-family: Arial;
        }

        /* The grid: Four equal columns that floats next to each other */
        .column1 {
            float: left;
            width: 25%;
            padding: 10px;
        }

            /* Style the images inside the grid */
            .column1 img {
                opacity: 0.8;
                cursor: pointer;
            }

                .column1 img:hover {
                    opacity: 1;
                }

        /* Clear floats after the columns */

        .row1:after {
            content: "";
            display: table;
            clear: both;
            background-color: red;
        }

        /* The expanding image container */
        .container1 {
            position: relative;
            display: none;
        }

        /* Expanding image text */
        #imgtext, #imgtext2 {
            position: absolute;
            bottom: 15px;
            left: 15px;
            color: white;
            font-size: 20px;
            height: auto;
            width: auto;
        }

        /* Closable button inside the expanded image */
        .closebtn1, .closebtn2 {
            position: absolute;
            top: 10px;
            right: 15px;
            color: limegreen;
            font-size: 55px;
            cursor: pointer;
            font-weight: bold;
        }

        .galle {
            margin: 65px;
        }

        h2 {
            color: limegreen;
            font-family: arial;
            font-weight: bold;
        }

        .row1 {
            background: red;
        }
    </style>
</head>
<body>

    <div class="galle">
        <div style="text-align:center">
            <h2>General Cleaning</h2>

        </div>



        <!-- The four columns -->
        <div class="row1">


            <div class="container1">
                <img id="expandedImg" style="width:100%">
                <span onclick="this.parentElement.style.display='none'" class="closebtn1">&times;</span>

                <div id="imgtext"></div>
            </div>


            <div class="column1">
                <img src="~/NewFolder1/services1.jpg" alt="Cleaning" style="width:auto" onclick="myFunction2(this);">
                <img src="~/NewFolder1/services2.jpg" alt="Cleaning" style="width:auto" onclick="myFunction2(this);">
            </div>
            <div class="column1">
                <img src="~/NewFolder1/services1.jpg" alt="Snow" style="width:auto" onclick="myFunction2(this);">
                <img src="~/NewFolder1/services2.jpg" alt="Nature" style="width:auto" onclick="myFunction2(this);">
            </div>
            <div class="column1">
                <img src="~/NewFolder1/services1.jpg" alt="Mountains" style="width:auto" onclick="myFunction2(this);">
                <img src="~/NewFolder1/services2.jpg" alt="Mountains" style="width: auto" onclick="myFunction2(this);">

            </div>
            <div class="column1">
                <img src="~/NewFolder1/services1.jpg" alt="Lights" style="width:auto" onclick="myFunction2(this);">
                <img src="~/NewFolder1/services2.jpg" alt="Mountains" style="width:auto" onclick="myFunction2(this);">
            </div>
        </div>
    </div>
    <div class="galle">




        <div class="row1">
            <div class="column1">
                <img src="~/NewFolder1/services1.jpg" alt="Nature" style="width:100%" onclick="myFunction2(this);">
                <img src="~/NewFolder1/services2.jpg" alt="Snow" style="width:100%" onclick="myFunction2(this);">
            </div>
            <div class="column1">
                <img src="~/NewFolder1/services1.jpg" alt="Snow" style="width:100%" onclick="myFunction2(this);">
                <img src="~/NewFolder1/services2.jpg" alt="Nature" style="width:100%" onclick="myFunction2(this);">
            </div>
            <div class="column1">
                <img src="~/NewFolder1/services1.jpg" alt="Mountains" style="width:100%" onclick="myFunction2(this);">
                <img src="~/NewFolder1/services2.jpg" alt="Mountains" style="width:100%" onclick="myFunction2(this);">

            </div>
            <div class="column1">
                <img src="~/NewFolder1/services1.jpg" alt="Lights" style="width:100%" onclick="myFunction2(this);">
                <img src="~/NewFolder1/services2.jpg" alt="Mountains" style="width:100%" onclick="myFunction2(this);">

            </div>
        </div>
    </div>




    <script>
       

        function myFunction2(imgs) {
            var expandImg = document.getElementById("expandedImg");
            var imgText = document.getElementById("imgtext");
            expandImg.src = imgs.src;
            imgText.innerHTML = imgs.alt;
            expandImg.parentElement.style.display = "block";
        }
    </script>

</body>
</html>


