@using Microsoft.AspNet.Identity
<style>
    body {
        padding: 100px;
        padding-left: 50px;
    }

    a {
        color: #000;
        font-size: 18px;
        margin-bottom: 0px;
    }

    h1 {
        margin-bottom: 30px;
    }
</style>

<center>
    <h1> Welcome! </h1>
    <h2> You are successfully Registered! </h2>


    <p>
        @Html.ActionLink("Go Home", "Home", new { @class = "g" })
    </p>
</center>
