
@{
    ViewBag.Title = "RFB Services";
}


<style>
    /*body {
        padding: 100px;
        padding-left: 50px;
        padding-top: 45px;
    }*/

    a {
        color: #000;
        font-size: 15px;
    }
</style>


<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>

    <meta charset="utf-8">

    <title></title>

    <link rel="stylesheet" href="~/Content/styleServices.css">
    <link rel="stylesheet" href="~/Content/home.css" />


    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
</head>
<body>
    <div class="services-section">
        <div class="inner-width">
            <br />
            <h1 class="section-title">Our Services</h1>
            <div class="border"></div>
            <div class="services-container">

                <div class="service-box">
                    <div class="service-icon">
                        <i class="fas fa-brush"></i>
                    </div>
                    @*<div class="section-title">Cleaning</div>*@
                    @*<div class="section-title">*@ <ul> <li> <a href="/Home/Cleaning" class="section-title">Cleaning</a></li></ul>@*</div>*@
                    <div class="border"></div>
                 
                    <div class="service-desc">
                        Found this service cheaper elsewhere, we will match the price!. Fast and Easy way to service your aircon,
                        it comes with service warranty and insurance coverage. Re-service guarantee. Satisfaction Guarantee. and Get Responses Fast.
                    </div>
                </div>

                <div class="service-box">
                    <div class="service-icon">
                        <i class="fas fa-tools"></i>
                    </div>
                    @*<div class="section-title">*@ <ul> <li> <a href="/Home/Repair" class="section-title">Repairing</a></li></ul>@*</div>*@
                    <div class="border"></div>
                    <div class="service-desc">
                        Book online in minutes. Quality affordable repairs. Service in 24 hours.
                        100% Safe Technicians. Full satisfaction or money back guaranteed!. Aircon Experts.
                    </div>
                </div>

                <div class="service-box">
                    <div class="service-icon">
                        <i class="fas fa-download"></i>
                    </div>
                    @*<div class="section-title">Installation</div>*@

                     @*<div class="section-title">*@ <ul> <li> <a href="/Home/Repair" class="section-title">Installation</a></li></ul>@*</div>*@
                    <div class="border"></div>
                    <div class="service-desc">
                        Quality and Affordable Installs. 100% Safe and Insured Technicians. Trained by top aircon brands. 24 hours service.
                    </div>
                </div>


                <div class="service-box">
                    <div class="service-icon">
                        <i class="fas fa-download"></i>
                    </div>
                    @*<div class="section-title">Estimate/Survey</div>*@
                    @*<div class="section-title">*@ <ul> <li> <a href="/Home/Repair" class="section-title">Survey</a></li></ul>@*</div>*@
                    <div class="border"></div>
                    <div class="service-desc">
                        Once you contact us for estimation/survey we will provide you the best option
                    </div>
                </div>

                @*<div class="service-box">
            <div class="service-icon">
                <i class="fas fa-cogs"></i>
            </div>
            <div class="service-title">Maintenance</div>
            <div class="service-desc">
                An air conditioner's filters, coils, and fins require regular maintenance for the unit to function effectively and efficiently
                throughout its years of service. Neglecting necessary maintenance ensures a steady decline in air conditioning performance while
                energy usesteadily increases.
            </div>
        </div>*@

            <div class="service-box">
                <div class="service-icon">
                    <i class="fas fa-clipboard-check"></i>
                </div>
                @*<div class="section-title">Check-Up</div>*@
                @*<div class="section-title">*@ <ul> <li> <a href="/Home/Checkup" class="section-title">Check-up</a></li></ul>@*</div>*@
                <div class="border"></div>
                <div class="service-desc">
                    Too check up those air conditioner, it is a test procedure developed to verify that a new air conditioning or heat pump installation
                    has been properly adjusted to deliver optimal comfort, efficiency and savings.
                </div>
            </div>
            </div>
        </div>
    </div>
</body>
</html>
