@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
    <link rel="stylesheet" href="~/Content/home.css" />

    <style>
        * {
            background: #221e1e;
            font-family: Arial;
            font-style: italic;
        }

        h1 {
            font-size: 35px;
        }

        a, h1 {
            text-decoration: none;
            border: 2px solid green;
            padding: 5px;
            border-radius: 3px;
            background: green;
            color: #f1f1f1;
            margin-top: 250px;
            width: 800px;
        }

        h2, h3 {
            text-decoration: none;
            border: 2px solid green;
            padding: 5px;
            border-radius: 3px;
            background: green;
            color: #f1f1f1;
            width: 400px;
        }

            h1:hover, h3:hover {
                background: #dedede;
                color: green;
                border: none;
            }
    </style>
</head>
<body>
    <div>

        <center>
            <h1> Thank you for choosing our Service!</h1>
            <h3> Your Pending request has been submitted</h3>
            <h3> We will call you for confirmation of this request!</h3>


            <div>
                @Html.ActionLink("Go Home", "Home")
            </div>
        </center>
    </div>
</body>
</html>
