
@{
    ViewBag.Title = "team";
}




    @*<meta name="viewport" content="width=device-width, initial-scale=1, user-scaleable=no">*@
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/Content/team.css">
    <link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed&display=swap" rel="stylesheet">
    <style>
        .inner-width {
            margin-top: 0;
        }
        .border {
            margin-bottom: 0;
        }
      
    </style>
    <link rel="stylesheet" href="~/Content/home.css" />

    <div class="services-section">
        <div class="inner-width">
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <h1 class="section-title">Our Dev Team</h1>
            <div class="border"></div>
        </div>
        <div class="container">
            <div class="row mgt30px">
                <div class="column">
                    <div class="imgBox">
                        <img src="~/images/melgie.jpg">
                    </div>
                    <div class="detail">
                        <h5>MELGIE SORIANO<br><span>Debugger</span></h5>
                    </div>
                </div>

                <div class="column">
                    <div class="imgBox">
                        <img src="~/images/kenneth.jpg">
                    </div>
                    <div class="detail">
                        <h5>KENNETH RELLORES <br><span>Database Admin</span></h5>

                    </div>
                </div>
                <div class="column">
                    <div class="imgBox">
                        <img src="~/images/lou.jpg">
                    </div>
                    <div class="detail">
                        <h5>ANGELO BURIAS<br><span> Lead Programmer</span></h5>

                    </div>
                </div>
                <div class="column">
                    <div class="imgBox">
                        <img src="~/images/heson.jpg">
                    </div>
                    <div class="detail">
                        <h5>HESON DAHAN<br><span>Web Designer</span></h5>
                    </div>
                </div>
                <div class="column">
                    <div class="imgBox">
                        <img src="~/images/lean.jpg">
                    </div>
                    <div class="detail">
                        <h5>LEAN LACTAO<br><span>Graphic Designer</span></h5>
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>
        </div>
    </div>
   



